<?xml version="1.0" encoding="UTF-8"?>

<beans default-autowire="byName"
	xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="applicationContextProvider" class="com.emeta.cu.business.utils.SpringApplicationContextProvider"/>

	<bean id="accountManager" class="com.emeta.cu.business.manager.impl.AccountManagerImpl">
		<property name="erightsToDomainAddressTransformer" ref="eRightsToDomainAddressTransformer"/>
		<property name="erightsToDomainEmailTransformer" ref="eRightsURIToDomainEmailTransformer"/>
	</bean>

	<bean id="accessManager" class="com.emeta.cu.business.manager.impl.AccessManagerImpl">
		<property name="erightsToDomainAddressTransformer" ref="eRightsToDomainAddressTransformer"/>
		<property name="erightsToDomainEmailTransformer" ref="eRightsURIToDomainEmailTransformer"/>
	</bean>

	<bean id="searchManager" class="com.emeta.cu.business.manager.impl.SearchManagerImpl"/>

	<bean id="userSearchManager" class="com.emeta.cu.business.manager.impl.UserSearchManagerImpl">
		<property name="listOfEmailsToAvoidActiveSubCheck">
			<list>
				<value>nobody@nowhere.com</value>
				<value>t-martje@consumer.org</value>
			</list>
		</property>
		<!--
			possible values (see pwiec/comp-businesslayer/src/conf/ibatis/userSearch.xml) asyncUserSearchDAO userSearchDAO
		-->
		<property name="activeSubscriptionUserSearchDAOBean" value="asyncUserSearchDAO"/>
	</bean>
</beans>
